@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body::-webkit-scrollbar {
        display: none
    }

    .fade-card::after {
        content: "";
        width: 60px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0, #fff 100%);
        will-change: opacity;
        pointer-events: none;
    }

    ::-webkit-scrollbar {
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: #0C66E4;
        border-radius: 10px;
    }

    .button-change {
        background-color: #0C66E4;
        border-radius: 9999px;
        color: white;
    }

    .home-background {
        background: url("/public/background.jpeg");
    }

    .check-mark {
        background-image: url('https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-739-check-white-a09b2a26e235b77489dfd57be3b66a17ff86efd5fb94d6db5f10cd3ced01e5a6.svg');
    }

    .selected {
        background-color: #01b4e4;
        color: #fff;
        border-color: #01b4e4 !important;
    }

}